/*header{
	.topBar{
		height: 40px;
		line-height: 40px;
		.topedit{
			color: #3c3c3c;
			a:nth-of-type(1){
				border: none;
			}
			a{
				padding: 5px;
				border-left: 1px dashed #e3e3e3;
			}
			li{
				margin-right: 8px;
				b{
					margin-left: 5px;
					font-size: 18px;
				}
				display: inline-block;
			}
		}
	}
	.header{
		width: 100%;
		height: 105px;
		background: white;
		.nav_banner{
			.logo{
				display: inline;
				width: 421px;
				margin-top: 24px;
				img{
					width: 100%;
				}
			}
			nav{
				display: inline-block;
				font-size: 18px;
				font-weight: bold;
				.list{
					position: relative;
					float: left;
					color: #3c3c3c;
					margin-left: 50px;
					line-height: 100px;
				}

				.myaccount{
					display: inline-block;
					z-index:999;
					.account{
						padding-right: 15px;
						i{
							width: 38px;
							height: 38px;
							vertical-align: middle;
							background: url("../images/header_nav.png");
							background-size: 100% auto;
						}
					}
					.bd{
						display: none;
						text-align: center;
						line-height: 24px;
						box-sizing: border-box;
						top: 20px;
						position: absolute;
						width: 183px;
						background: white;
						box-shadow: 0 0 5px rgba(0,0,0,0.2);
						left:50%;
						-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
						z-index: -1;
						padding: 15px;
						font-size: 12px;
						.fortop{
							height: 60px;
							border-bottom: 1px solid #999;
							margin-bottom: 14px;
						}
						.h_login{
							display: block;
							padding: 6px 40px;
							background: #f20d0d;
							color: white;
							border-radius: 3px;
						}
					}
				}
				.myaccount:hover>.bd{
					display: block;
					cursor: pointer;
				}
			}
		}
	}
}
.footer{
	background: #484747;
	.footertop{
		padding : 25px 0 24px 0 ;
		background: #4d4d4d;
		color: #b3b3b3;
		.fotlogo{
			span{
				display: block;
				margin-bottom: 20px;
			}
			ol{
				padding: 0;
				a{
					color: #b3b3b3;
					padding:0 17px;
					border-right: 1px solid #b3b3b3;
				}
				a:nth-of-type(1){
					padding-left: 0;
				}
				a:nth-last-of-type(1){
					border:none;
				}
			}
		}
		.footma{
			width: 484px;
			.erweima{
				text-align: center;
				margin-right: 35px;
				img{
					width: 100%;
				}
				font-size: 12px;
				width: 100px;
				display: inline-block;
				a{
					color: #f20d0d;
					-webkit-font-smoothing: antialiased;
				}
			}
			.help{
				display: inline-block;
				margin-left: 10px;
			}
		}
	}
	.footerup{
		background: #484747;
		line-height: 50px;
		position: relative;
		p{
			margin: 0;
			width: 50%;
			color: #b3b3b3;
			float: left;
			line-height: normal;
		}
		.sns_list{
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			right: 0;
			width: 30%;
			li{
				float: right;
				margin-left: 30px;
				height: 25px;
				width: 25px;
			}
			.wb{
				background: url("../images/sprites/icon_wb.png") center center;
				background-size: 100% auto;
			}
			.qq{
				background: url("../images/sprites/icon_qq.png") center center;
				background-size: 100% auto;
			}
			.wx{
				background: url("../images/sprites/icon_wx.png") center center;
				background-size: 100% auto;
			}
			.kj{
				background: url("../images/sprites/icon_kj.png") center center;
				background-size: 100% auto;
			}
		}
	}
}*/
.banner_wrap {
  overflow: hidden;
  background: darkslategray;
}
.banner_wrap .login {
  box-sizing: border-box;
  right: 0;
  top: 48px;
  position: absolute;
  z-index: 900;
  padding: 26px;
  background: rgba(255, 255, 255, 0.8);
  color: #4c4c4c;
  font-size: 12px;
}
.banner_wrap .login .tit {
  font-size: 14px;
}
.banner_wrap .login .data {
  text-align: center;
  font-size: 40px;
  color: #f20d0d;
}
.banner_wrap .login .data i {
  font-size: 12px;
}
.banner_wrap .login .detail b {
  font-size: 14px;
  color: #59bcfc;
}
.banner_wrap .login .a_btn {
  margin: 15px 0;
}
.banner_wrap .login .a_btn a {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  background: #f20d0d;
  color: white;
}
.banner_wrap .login .last a {
  color: #59bcfc;
}
.index .realtime_data {
  background: white;
}
.index .realtime_data .middle {
  color: #a7a7a7;
  line-height: 74px;
  margin: 0 auto;
}
.index .realtime_data .middle .realdata b {
  color: #f24b0b;
  position: relative;
  padding: 5px 8px;
  text-align: center;
  border: 1px solid #f1f1f1;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 28px;
  font-weight: normal;
  vertical-align: middle;
  margin-left: 5px;
  z-index: 1;
}
.index .realtime_data .middle .realdata b:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #f1f1f1;
  height: 2px;
  z-index: -1;
}
.index .realtime_data .middle .realdata span {
  color: #f24b0b;
}
.index .site_advantage {
  background: white;
  border-top: 1px solid #f1f1f1;
}
.index .site_advantage ul li {
  display: inline-block;
  width: 32%;
  padding: 24px 0 26px;
}
.index .site_advantage ul li i {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.index .site_advantage ul li .advantage_con h4 {
  line-height: 48px;
  font-weight: bolder;
  font-size: 20px;
  color: #3c3c3c;
}
.index .site_advantage ul li .advantage_con p {
  font-size: 14px;
  color: #999;
}
.index .site_advantage ul .iconsprites {
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.index .site_advantage ul .iconsprites {
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.index .site_advantage ul .li1 .iconsprites {
  background-image: url("../images/sprites/icons01.png");
}
.index .site_advantage ul .li2 .middle {
  width: 221px;
  margin: 0 auto;
}
.index .site_advantage ul .li2 .middle .iconsprites {
  background-image: url("../images/sprites/icons02.png");
}
.index .site_advantage ul .li3 .iconsprites {
  background-image: url("../images/sprites/icons03.png");
}
.index .new_hand,
.index .sxt,
.index .gxb {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 160px;
  margin: 26px 0;
  background-color: white;
  padding: 10px 0 27px 70px;
}
.index .new_hand .back,
.index .sxt .back,
.index .gxb .back {
  position: absolute;
  left: -8px;
  top: -8px;
}
.index .new_hand .div1,
.index .sxt .div1,
.index .gxb .div1 {
  width: 850px;
}
.index .new_hand .div1 h3,
.index .sxt .div1 h3,
.index .gxb .div1 h3 {
  font-size: 20px;
}
.index .new_hand .div1 h3 span,
.index .sxt .div1 h3 span,
.index .gxb .div1 h3 span {
  font-size: 12px;
  color: #999999;
}
.index .new_hand .div1 ul li,
.index .sxt .div1 ul li,
.index .gxb .div1 ul li {
  width: 19%;
  display: inline-block;
  color: #666;
}
.index .new_hand .div1 ul li h4,
.index .sxt .div1 ul li h4,
.index .gxb .div1 ul li h4 {
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
}
.index .new_hand .div1 ul li b,
.index .sxt .div1 ul li b,
.index .gxb .div1 ul li b {
  font-size: 12px;
  font-weight: normal;
}
.index .new_hand .div1 ul li .buynow,
.index .sxt .div1 ul li .buynow,
.index .gxb .div1 ul li .buynow {
  display: inline-block;
  padding: 8px 42px;
  background: #f20d0d;
  color: white;
  font-size: 14px;
  border-radius: 3px;
}
.index .new_hand .div1 ul li a:hover,
.index .sxt .div1 ul li a:hover,
.index .gxb .div1 ul li a:hover {
  color: white;
}
.index .new_hand .div1 ul .licai1 h4,
.index .sxt .div1 ul .licai1 h4,
.index .gxb .div1 ul .licai1 h4 {
  color: #f20d0d;
}
.index .new_hand .div1 ul .licai3 h4,
.index .sxt .div1 ul .licai3 h4,
.index .gxb .div1 ul .licai3 h4 {
  font-size: 16px;
}
.index .new_hand .div1 ul .licai4 .progress,
.index .sxt .div1 ul .licai4 .progress,
.index .gxb .div1 ul .licai4 .progress {
  height: 5px;
  width: 70%;
  background: #e8e8e8;
  border-radius: 50px;
  display: inline-block;
}
.index .new_hand .div1 ul .licai4 .progress span,
.index .sxt .div1 ul .licai4 .progress span,
.index .gxb .div1 ul .licai4 .progress span {
  border-radius: 50px;
  display: block;
  height: 100%;
  width: 80%;
  background: #3fb4fe;
}
.index .new_hand .div1 ul .licai5,
.index .sxt .div1 ul .licai5,
.index .gxb .div1 ul .licai5 {
  padding-left: 25px;
}
.index .new_hand .div2,
.index .sxt .div2,
.index .gxb .div2 {
  width: 265px;
}
.index .new_hand .div2 .licai1,
.index .sxt .div2 .licai1,
.index .gxb .div2 .licai1 {
  width: 90px;
  margin: 30px 15px;
}
.index .new_hand .div2 .licai1 img,
.index .sxt .div2 .licai1 img,
.index .gxb .div2 .licai1 img {
  width: 100%;
}
.index .new_hand .div2 .licai2,
.index .sxt .div2 .licai2,
.index .gxb .div2 .licai2 {
  margin-top: 30px;
}
.index .new_hand .div2 .licai2 h4,
.index .sxt .div2 .licai2 h4,
.index .gxb .div2 .licai2 h4 {
  line-height: 36px;
  color: #f20d0d;
  font-size: 14px;
}
.index .new_hand .div2 .licai2 b,
.index .sxt .div2 .licai2 b,
.index .gxb .div2 .licai2 b {
  font-weight: normal;
  border: 1px solid #a3a3a3;
  border-radius: 2px;
  text-align: center;
  padding: 4px 8px;
  color: #a3a3a3;
  font-size: 12px;
}
.index .new_hand:after {
  content: '';
  position: absolute;
  width: 1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 130px;
  bottom: 0;
  background: #f1f1f1;
  right: 265px;
}
.index .sxt {
  background: url("../images/sxt.png") no-repeat left top;
  background-size: 280px 100%;
  background-color: white;
}
.index .gxb {
  padding: 0;
  height: 453px;
  background-color: white;
}
.index .gxb .more-btn {
  box-sizing: border-box;
  padding-top: 365px;
  width: 260px;
  height: 100%;
  background: url("../images/gxb.jpg") no-repeat left top;
  background-size: 260px 100%;
  text-align: center;
}
.index .gxb .more-btn a {
  margin-top: 365px;
  padding: 8px 40px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid white;
  color: white;
}
.index .gxb .pad {
  width: 900px;
  float: right;
}
.index .gxb .pad .div1 {
  border-bottom: 1px solid #f1f1f1;
  width: 860px;
  padding: 0 0 20px 10px;
}
.index .gxb .pad .noborder {
  border: none;
}
.index .news_friend {
  color: #666;
  background: white;
  padding: 0 0 80px 0;
}
.index .news_friend .news {
  margin-bottom: 45px;
  padding-top: 70px;
}
.index .news_friend .news b {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-right: 5px;
  border-radius: 50%;
  background: #f20d0d;
  color: white;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  font-weight: normal;
}
.index .news_friend .news .newleft {
  width: 793px;
  padding-right: 15px;
  border-right: 1px solid #e7e8eb;
}
.index .news_friend .news .newleft .lines {
  line-height: 36px;
}
.index .news_friend .news .newleft .lines span {
  float: right;
}
.index .news_friend .news .newleft .news1 {
  color: #3c3c3c;
  margin-bottom: 40px;
}
.index .news_friend .news .newleft .news1 span,
.index .news_friend .news .newleft .news1 a {
  display: inline-block;
  width: 49%;
}
.index .news_friend .news .newleft .news1 span {
  text-align: left;
  font-size: 16px;
  font-weight: bolder;
}
.index .news_friend .news .newleft .news1 a {
  text-align: right;
  color: #999;
  font-size: 14px;
}
.index .news_friend .news .newleft .news2 {
  margin-bottom: 10px;
}
.index .news_friend .news .newleft .news2 div {
  display: inline-block;
}
.index .news_friend .news .newleft .news2 .news-tit {
  width: 523px;
}
.index .news_friend .news .newleft .news2 .news-tit h3 {
  margin: 0;
}
.index .news_friend .news .newright {
  box-sizing: border-box;
  width: 380px;
  padding-left: 20px;
}
.index .news_friend .news .newright h3 {
  margin: 0;
  margin-bottom: 36px;
}
.index .news_friend .news .newright h3 span,
.index .news_friend .news .newright h3 a {
  display: inline-block;
  width: 49%;
}
.index .news_friend .news .newright h3 a {
  text-align: right;
  font-size: 14px;
}
.index .news_friend .news .newright ul a {
  display: block;
  margin-bottom: 24px;
}
.index .news_friend .news .newright ul a:nth-last-of-type(1) {
  margin-bottom: 0;
}
.index .news_friend .news .newright ul span {
  float: left;
  display: block;
  line-height: 16px;
  height: 16px;
}
.index .news_friend .news .newright ul .circle {
  background: #ee4e42;
  color: white;
  line-height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  font-size: 10px;
  vertical-align: middle;
}
.index .news_friend .news .newright ul .n_title {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.index .news_friend .parent {
  /*li:nth-of-type(1){
				margin-left: 0;
			}*/
}
.index .news_friend .parent h2 {
  font-size: 18px;
  font-weight: bolder;
  color: #3c3c3c;
}
.index .news_friend .parent li {
  display: inline-block;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  width: 190px;
  height: 60px;
  float: left;
  margin-left: 6px;
}
.in_detail {
  background: #f6f6f6;
  color: #999;
}
.in_detail .banner-invest {
  background-image: url("../images/detail_banner.png");
  height: 180px;
  width: 100%;
}
.in_detail .invest-advantage {
  margin: 22px 0 10px;
}
.in_detail .invest-advantage ul {
  background: white;
  padding: 5px 36px;
}
.in_detail .invest-advantage ul li {
  padding: 0 21px;
  border-right: 1px solid #999;
  display: inline-block;
}
.in_detail .invest-advantage ul li i {
  vertical-align: middle;
  background-image: url('../images/toparrow.png');
  height: 12px;
  width: 10px;
}
.in_detail .invest-advantage ul .pull-right {
  border: none;
}
.in_detail .invest-main .new_hand {
  background: url("../images/new_hand.jpg") no-repeat left top;
}
.in_detail .invest-main .gxblist {
  box-sizing: border-box;
  height: 160px;
  margin: 26px 0;
  background-color: white;
  padding: 10px 0 27px 57px;
}
.in_detail .invest-main .gxblist .back {
  position: absolute;
  left: -8px;
  top: -8px;
}
.in_detail .invest-main .gxblist .div1 {
  width: 100%;
}
.in_detail .invest-main .gxblist .div1 h3 {
  font-size: 20px;
}
.in_detail .invest-main .gxblist .div1 h3 span {
  font-size: 12px;
  color: #999999;
}
.in_detail .invest-main .gxblist .div1 ul li {
  display: inline-block;
  color: #666;
}
.in_detail .invest-main .gxblist .div1 ul li h4 {
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
}
.in_detail .invest-main .gxblist .div1 ul li b {
  font-size: 12px;
  font-weight: normal;
}
.in_detail .invest-main .gxblist .div1 ul li .buynow {
  display: inline-block;
  padding: 8px 42px;
  background: #f20d0d;
  color: white;
  font-size: 14px;
  border-radius: 3px;
}
.in_detail .invest-main .gxblist .div1 ul li a:hover {
  color: white;
}
.in_detail .invest-main .gxblist .div1 ul .licai1 {
  width: 196px;
}
.in_detail .invest-main .gxblist .div1 ul .licai1 h4 {
  color: #f20d0d;
}
.in_detail .invest-main .gxblist .div1 ul .licai2 {
  width: 176px;
}
.in_detail .invest-main .gxblist .div1 ul .licai3 {
  width: 180px;
}
.in_detail .invest-main .gxblist .div1 ul .licai3 h4 {
  font-size: 16px;
}
.in_detail .invest-main .gxblist .div1 ul .licai4 {
  width: 200px;
}
.in_detail .invest-main .gxblist .div1 ul .licai4 .progress {
  height: 5px;
  width: 60%;
  background: #e8e8e8;
  border-radius: 50px;
  display: inline-block;
}
.in_detail .invest-main .gxblist .div1 ul .licai4 .progress span {
  border-radius: 50px;
  display: block;
  height: 100%;
  width: 80%;
  background: #3fb4fe;
}
.in_detail .invest-main .gxblist .div1 ul .licai5 {
  width: 177px;
}
.in_detail .invest-main .gxblist .div2 {
  width: 265px;
}
.in_detail .invest-main .gxblist .div2 .licai1 {
  width: 90px;
  margin: 30px 15px;
}
.in_detail .invest-main .gxblist .div2 .licai1 img {
  width: 100%;
}
.in_detail .invest-main .gxblist .div2 .licai2 {
  margin-top: 30px;
}
.in_detail .invest-main .gxblist .div2 .licai2 h4 {
  color: #f20d0d;
  font-size: 14px;
}
.in_detail .invest-main .gxblist .div2 .licai2 p {
  border: 1px solid #a3a3a3;
  border-radius: 2px;
  text-align: center;
  padding: 5px 8px;
  margin: 0;
  color: #a3a3a3;
  font-size: 12px;
}
.in_detail .invest-main .pager {
  width: 495px;
  margin: 0 auto;
}
.in_detail .invest-main .pager ol a {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}
.in_detail .invest-main .pager ol .next {
  margin-right: 10px;
}
.in_detail .invest-main .pager ol span input {
  text-align: center;
  width: 24px;
}
.guide .banner-guide {
  background-image: url("../images/new_guide.png");
  height: 280px;
  overflow: hidden;
}
.guide .guide-advantage {
  padding: 76px 0;
}
.guide .guide-advantage ul {
  color: #666;
  height: 100%;
}
.guide .guide-advantage ul li {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
}
.guide .guide-advantage ul span {
  font-size: 18px;
}
.guide .guide-advantage ul .text {
  padding: 20px 0;
  width: 40%;
  vertical-align: middle;
}
.guide .guide-advantage ul .text .red {
  color: #e94d3d;
}
.guide .guide-advantage ul .text .blue {
  color: #3fb4fe;
}
.guide .guide-advantage ul .text .yellow {
  color: #fc8e36;
}
.guide .guide-advantage ul .text p {
  line-height: 35px;
}
.guide .guide-advantage ul .img {
  width: 55%;
  position: relative;
  text-align: center;
}
.guide .guide-advantage ul .img img {
  line-height: inherit;
}
.guide .white {
  background: white;
}
.guide .guide-steps {
  background-color: white;
  padding: 100px 0;
  color: #666;
  font-size: 26px;
  font-weight: bolder;
  text-align: center;
}
.guide .guide-steps .guide-img {
  height: 33px;
  background-image: url('../images/guide_solid.png');
  background-position: top center;
}
.guide .guide-steps .imgbox {
  position: relative;
  text-align: center;
  width: 1110px;
  height: 480px;
  margin: 40px auto;
  background: rgba(0, 0, 0, 0.5);
}
.guide .guide-steps .imgbox span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.guide .guide-steps .imgbox .arrowleft {
  left: -60px;
}
.guide .guide-steps .imgbox .arrowright {
  right: -60px;
}
.guide .guide-ready {
  padding: 60px 0 54px;
  background-image: url("../images/guide_ready.png");
  background-position: bottom center;
  background-color: #f6f6f6;
  text-align: center;
  font-size: 18px;
  color: #666;
}
.guide .guide-ready a {
  background: #3fb4fe;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.investsign {
  background-color: white;
  margin: 40px auto;
  padding: 50px 87px;
}
.investsign .invest-process {
  box-sizing: border-box;
}
.investsign .invest-process .title {
  position: relative;
  padding: 0 87px;
}
.investsign .invest-process .title li {
  font-size: 16px;
  color: #999;
  position: relative;
  text-align: center;
  width: 33%;
  display: inline-block;
  z-index: 666;
}
.investsign .invest-process .title li .circle {
  display: block;
  line-height: 25px;
  width: 25px;
  color: white;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid white;
  box-shadow: 0 0 0 1px #dcdcdc;
  background: #dcdcdc;
}
.investsign .invest-process .title .check {
  color: #666;
}
.investsign .invest-process .title .check .circle {
  box-shadow: 0 0 0 1px #f20d0d;
  background: #f20d0d;
}
.investsign .invest-process .title .check .circle:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  background: #f20d0d;
  height: 1px;
  top: 13px;
  z-index: -1;
}
.investsign .invest-process .title:after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  z-index: 1;
  border-top: 1px dashed #dcdcdc;
  top: 13px;
}
.investsign .form-panel {
  background-image: url("../images/invest_login.png");
  background-position: right bottom;
  background-origin: content-box;
  margin-top: 70px;
}
.investsign .form-panel .account {
  margin-bottom: 20px;
}
.investsign .form-panel .account span,
.investsign .form-panel .account .container,
.investsign .form-panel .account .error {
  float: left;
  line-height: 40px;
}
.investsign .form-panel .account span {
  text-align: right;
  width: 100px;
  margin-right: 6px;
}
.investsign .form-panel .account .container {
  width: 300px;
  text-indent: 20px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
}
.investsign .form-panel .account .error {
  font-weight: normal;
  color: #3fb4fe;
  font-size: 12px;
  margin-left: 20px;
}
.investsign .form-panel .test .getpic {
  width: 104px;
  height: 44px;
  float: left;
}
.investsign .form-panel .test .getpic img {
  height: 100%;
  width: 100%;
}
.investsign .form-panel .test .container {
  width: 190px;
  margin-right: 5px;
}
.investsign .form-panel .agree,
.investsign .form-panel .sign_now {
  width: 373px;
}
.investsign .form-panel .agree {
  line-height: 40px;
}
.investsign .form-panel .agree span {
  height: 40px;
}
.investsign .form-panel .agree input[type='checkbox'] {
  display: block;
  zoom: 1;
  text-align: left;
  line-height: 40px;
  vertical-align: middle;
  margin: 14px 6px 0 0;
}
.investsign .form-panel .sign_now {
  text-align: left;
  padding-left: 100px;
}
.investsign .form-panel .sign_now .btn {
  display: block;
  background: #f20d0d;
  border-radius: 5px;
  width: 300px;
  color: white;
  margin: 20px 0 25px 0;
}
.investsign .forcode {
  font-size: 14px;
  margin-top: 70px;
  height: 385px;
  text-align: left;
}
.investsign .forcode .contact {
  color: #999;
  width: 400px;
  margin: auto;
}
.investsign .forcode .contact .test {
  margin-top: 10px;
}
.investsign .forcode .contact .getcode {
  line-height: 36px;
  width: 100px;
  background: #f9eded;
  color: #f20d0d;
}
.investsign .forcode .contact p {
  line-height: 30px;
}
.investsign .forcode .contact p b {
  color: #f20d0d;
}
.investsign .forcode .contact input[type='text'] {
  text-indent: 10px;
  height: 40px;
  width: 200px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
.investsign .forcode .btn {
  margin-top: 20px;
  width: 300px;
  background: #f20d0d;
  border-radius: 3px;
  color: #fff;
}
.investsign .success .contact {
  padding: 90px 0 330px 0;
  line-height: 30px;
}
.investsign .success .contact ul {
  width: 390px;
  margin: auto;
  position: relative;
}
.investsign .success .contact ul b {
  color: #e94e3c;
}
.investsign .success .contact ul li:nth-of-type(1) {
  font-size: 16px;
  color: #4c4c4c;
}
.investsign .success .contact ul li:nth-last-of-type(1) {
  margin-bottom: 30px;
}
.investsign .success .contact ul a {
  display: inline-block;
  width: 150px;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
}
.investsign .success .contact ul a:nth-of-type(1) {
  color: white;
  background: #e94e3c;
  margin-right: 9px;
}
.investsign .success .contact ul a:nth-of-type(2) {
  color: #c6c6c6;
  border: 1px solid #c6c6c6;
}
.investsign .success .contact ul:after {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  background: #4db4ff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  top: 0;
  left: -70px;
}
.sxtlist {
  padding-bottom: 80px;
  background-color: #fff;
}
.sxtlist .nav_a {
  margin: 26px auto 0 ;
  width: 441px;
}
.sxtlist .nav_a a {
  display: block;
  float: left;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin-right: 8px;
  width: 26px;
  line-height: 26px;
  text-align: center;
}
.sxtlist .red {
  color: #e94d3d;
}
.sxtlist .sxtpic {
  background-image: url('../image/sxt.png');
  background-repeat: no-repeat;
}
.sxtlist .banner_sxt {
  padding: 25px 0;
  background: #ff6f67;
}
.sxtlist .banner_sxt .sxtnum {
  width: 506px;
  height: 390px;
  background-position: -10px -165px;
  position: relative;
}
.sxtlist .banner_sxt .sxtnum .number {
  position: absolute;
  left: 156px;
  top: 96px;
}
.sxtlist .banner_sxt .sxtnum .number p {
  color: #e94d3d;
}
.sxtlist .banner_sxt .sxtnum .number h4 {
  color: #999;
}
.sxtlist .banner_sxt .sxtnum .number .b_number {
  font-weight: bolder;
  font-size: 48px;
}
.sxtlist .banner_sxt .sxtcal {
  background: #fff;
  width: 646px;
  height: 350px;
  box-sizing: border-box;
  padding: 50px 72px 0;
}
.sxtlist .banner_sxt .sxtcal h4 {
  font-size: 24px;
  color: #333;
}
.sxtlist .banner_sxt .sxtcal h4 span {
  font-size: 14px;
  color: #999;
}
.sxtlist .banner_sxt .sxtcal .progress p {
  font-size: 36px;
  text-align: right;
}
.sxtlist .banner_sxt .sxtcal .progress p span {
  font-size: 14px;
}
.sxtlist .banner_sxt .sxtcal .progress .progress_wrap {
  height: 6px;
  background-color: #e5e5e5;
  border-radius: 20px;
  margin-bottom: 10px;
  overflow: hidden;
}
.sxtlist .banner_sxt .sxtcal .progress .progress_wrap span {
  display: block;
  width: 60px;
  background-color: #00a8ef;
  height: 6px;
  border-radius: 120px;
}
.sxtlist .banner_sxt .sxtcal ul li {
  float: left;
  width: 50%;
}
.sxtlist .banner_sxt .sxtcal ul li:nth-of-type(2) {
  text-align: right;
}
.sxtlist .banner_sxt .sxtcal .cal .inp {
  display: inline-block;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 20px;
}
.sxtlist .banner_sxt .sxtcal a {
  display: block;
  line-height: 50px;
  width: 220px;
  text-align: center;
  background-color: #e94d3d;
  color: white;
  border-radius: 4px;
  margin-top: 20px;
}
.sxtlist .sxt-advantage {
  color: #666;
  margin: 50px 0;
}
.sxtlist .sxt-advantage li {
  box-sizing: border-box;
  float: left;
  width: 274px;
  height: 380px;
  padding: 48px 36px 0;
  background-color: #fff;
  margin-right: 28px;
}
.sxtlist .sxt-advantage li .sxtpic {
  height: 115px;
  width: 115px;
  margin: auto;
  display: block;
  margin-bottom: 30px;
}
.sxtlist .sxt-advantage li .wish1 {
  background-position: -3px -1px;
}
.sxtlist .sxt-advantage li .wish2 {
  background-position: -125px -1px;
}
.sxtlist .sxt-advantage li .wish3 {
  background-position: -247px -1px;
}
.sxtlist .sxt-advantage li .wish4 {
  background-position: -369px -1px;
}
.sxtlist .sxt-advantage li .tit {
  font-size: 20px;
  text-align: center;
}
.sxtlist .sxt-advantage li b {
  font-size: 16px;
}
.sxtlist .sxt-advantage li .content {
  font-size: 14px;
  color: #999;
  margin-top: 20px;
}
.sxtlist .sxt-advantage li:nth-last-of-type(1) {
  margin-right: 0;
}
.sxtlist .sxt-introduce {
  background: #fff;
}
.sxtlist .sxt-introduce .classify {
  border: 1px solid #f1f1f1;
}
.sxtlist .sxt-introduce .classify .nav {
  float: left;
  padding: 27px 0 17px;
  margin-right: 58px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}
.sxtlist .sxt-introduce .classify .nav:nth-of-type(4) {
  margin-right: 0;
}
.sxtlist .sxt-introduce .classify .identifier {
  position: relative;
}
.sxtlist .sxt-introduce .classify .identifier:after {
  position: absolute;
  content: '';
  width: 120%;
  height: 2px;
  background: #e94d3d;
  left: -10%;
  bottom: 0;
}
.sxtlist .sxt-introduce .direction-intro li,
.sxtlist .sxt-introduce .direction-pic li {
  float: left;
  margin-left: 58px;
}
.sxtlist .sxt-introduce .direction-pic {
  background-position: left bottom;
  height: 16px;
  margin-top: 6px;
}
.sxtlist .sxt-introduce .listpro {
  margin-top: 38px;
  font-size: 14px;
  color: #999;
}
.sxtlist .sxt-introduce .listpro p {
  color: #333;
  font-weight: bolder;
  margin-bottom: 20px;
}
.sxtlist .sxt-introduce .listpro h4 {
  font-weight: lighter;
  padding-left: 20px;
}
.pay {
  margin: 30px auto;
  width: 736px;
  background-color: white;
  box-sizing: border-box;
  padding: 30px 50px 40px;
  font-size: 14px;
}
.pay .error,
.pay .suc {
  text-align: center;
  padding: 120px 0 186px;
  color: #999;
}
.pay .error p:nth-of-type(1),
.pay .suc p:nth-of-type(1) {
  font-size: 20px;
  margin-bottom: 34px;
  line-height: 30px;
  vertical-align: middle;
  color: #666;
}
.pay .error p:nth-of-type(1) .iconfont,
.pay .suc p:nth-of-type(1) .iconfont {
  font-size: 26px;
  margin-right: 10px;
}
.pay .error a,
.pay .suc a {
  color: #e94d3d;
}
.pay hr {
  background-color: #f1f1f1;
  height: 1px;
  border: none;
}
.pay b {
  font-weight: normal;
}
.pay .red {
  color: #e94d3d;
}
.pay .iconTitle {
  height: 36px;
  position: relative;
  margin-bottom: 20px;
  /*.p_line{margin:0 160px}*/
}
.pay .iconTitle li:nth-of-type(1) {
  left: 0;
}
.pay .iconTitle li:nth-of-type(3) {
  right: 0;
}
.pay .iconTitle li:nth-of-type(2) {
  left: 50%;
  transform: translateX(-50%);
}
.pay .iconTitle li:nth-of-type(2):after,
.pay .iconTitle li:nth-of-type(2):before {
  content: '';
  position: absolute;
  height: 1px;
  width: 150px;
  background: #e94d3d;
  top: 49%;
}
.pay .iconTitle li:nth-of-type(2):after {
  right: 110px;
}
.pay .iconTitle li:nth-of-type(2):before {
  left: 110px;
}
.pay .iconTitle li {
  position: absolute;
}
.pay .iconTitle li span {
  line-height: 26px;
  vertical-align: middle;
  margin-right: 8px;
}
.pay .iconTitle li .iconfont {
  font-size: 24px;
  color: #e94d3d;
}
.pay .iconTitle li .p_circle {
  text-align: center;
  border-radius: 50%;
  background-color: #e94d3d;
  color: #fff;
  display: inline-block;
  width: 26px;
}
.pay .msg {
  padding: 18px 26px 22px;
  background-color: #f9f9f9;
}
.pay .msg h2 {
  margin-bottom: 10px;
  color: #666;
  font-weight: bold;
}
.pay .msg .list {
  line-height: 30px;
  color: #999;
}
.pay .msg .list span {
  display: block;
  float: left;
  width: 50%;
}
.pay .p_money {
  padding: 22px 0 0;
  color: #666;
}
.pay .p_money li {
  margin-bottom: 30px;
}
.pay .p_money li small {
  font-size: 16px;
}
.pay .p_money li .p_title {
  display: inline-block;
  width: 85px;
  text-align: right;
}
.pay .p_money li div {
  display: inline-block;
  border: 1px solid #e6e6e6;
  padding: 9px;
  margin-right: 12px;
}
.pay .p_money li div input {
  outline: none;
  border: 0;
}
.pay .p_bank {
  padding: 30px 26px 34px;
  color: #666;
}
.pay .p_bank b {
  font-size: 14px;
  font-weight: bold;
}
.pay .p_bank .foot .inp {
  line-height: 34px;
  padding: 0 12px;
  outline: none;
  border: 0;
  font-size: 12px;
  border-radius: 3px;
  color: #999999;
}
.pay .p_bank .foot #getcode {
  background: #fef3ea;
  cursor: pointer;
}
.pay .p_bank .foot .pwd {
  border: 1px solid #f1f1f1;
  margin-right: 10px;
}
.pay .p_bank .foot li {
  margin-bottom: 25px;
}
.pay .p_bank .foot li .forget {
  color: #3fb4fe;
  font-size: 14px;
}
.pay .p_bank .foot li .p_title {
  margin-right: 10px;
}
.pay .p_bank .foot .danger div {
  display: inline;
  padding: 10px 16px;
  background-color: #fff9ee;
}
.pay .p_bank .foot .danger .iconfont {
  color: #fac450;
  font-size: 14px;
  margin-right: 10px;
}
.pay .p_bank .foot .bankC {
  font-size: 12px;
}
.pay .p_bank .foot .bankC .toops {
  margin-left: 20px;
  color: #b6b6b6;
}
.pay .p_bank .foot .btn {
  display: block;
  text-align: center;
  line-height: 48px;
  width: 220px;
  background-color: #e94d3d;
  border-radius: 2px;
  color: #ffffff;
}
.pay .p_bank .foot .bank {
  display: inline-block;
  height: 22px;
  width: 22px;
  background: red;
  margin: 0 5px 0 10px;
  vertical-align: middle;
}
